In [9]:
import requests
import pandas as pd
import chromedriver_binary
from tqdm import tqdm
from selenium import webdriver
from bs4 import BeautifulSoup

In [4]:
df=pd.read_csv('data.csv')

In [5]:
df.head()

,link,tags,likes,comments
0,https://cdn.pixabay.com/photo/2022/03/06/05/30...,"Blue Sky Clouds, Sky, Atmosphere,",196,55
1,https://cdn.pixabay.com/photo/2022/04/07/11/45...,"Hummingbird Ornithology, Bird,",76,20
2,https://cdn.pixabay.com/photo/2022/02/28/15/28...,"Rainbow, Sea, Rainfall, Subtropical",282,106
3,https://cdn.pixabay.com/photo/2022/04/04/02/52...,"Sakura Japan, Blossoms, Road, Cherry",42,11
4,https://cdn.pixabay.com/photo/2022/04/09/18/06...,"Marguerite, Flower, Plant Cape",39,15

In [7]:
df['link'][0]

'https://cdn.pixabay.com/photo/2022/03/06/05/30/clouds-7050884__480.jpg'

In [6]:
link = df['link'][0]

res = requests.get(link)

In [8]:
fd = open('Img.png','wb')

fd.write(res.content)

fd.close()

In [10]:
path = []

for link in tqdm(df['link']):
    
    res = requests.get(link)
    
    fd = open('Imgs/'+link.split('/')[-1],'wb')
    fd.write(res.content)
    fd.close()
    
    path.append('Imgs/'+link.split('/')[-1])

100%|██████████| 48/48 [00:20<00:00,  2.33it/s]

In [11]:
df['path'] = path

In [12]:
df.head()

,link,tags,likes,comments,path
0,https://cdn.pixabay.com/photo/2022/03/06/05/30...,"Blue Sky Clouds, Sky, Atmosphere,",196,55,Imgs/clouds-7050884__480.jpg
1,https://cdn.pixabay.com/photo/2022/04/07/11/45...,"Hummingbird Ornithology, Bird,",76,20,Imgs/bird-7117346__340.jpg
2,https://cdn.pixabay.com/photo/2022/02/28/15/28...,"Rainbow, Sea, Rainfall, Subtropical",282,106,Imgs/sea-7039471__340.jpg
3,https://cdn.pixabay.com/photo/2022/04/04/02/52...,"Sakura Japan, Blossoms, Road, Cherry",42,11,Imgs/cherry-blossoms-7110279__340.jpg
4,https://cdn.pixabay.com/photo/2022/04/09/18/06...,"Marguerite, Flower, Plant Cape",39,15,Imgs/cape-marguerite-7121992__340.jpg

In [ ]:
df.to_csv('Imgs.csv', index = False)